<h1>Listing api_keys</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Eve api identifier</th>
    <th>Verification code</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>

  </tr>

<% @api_keys.each do |api_key| %>
  <tr>
    <td><%= api_key.id %></td>
    <td><%= api_key.eve_api_identifier %></td>
    <td><%= api_key.verification_code %></td>
    <td><%= api_key.user.name %></td>
    <td><%= link_to 'Show', api_key %></td>
    <td><%= link_to 'Edit', edit_api_key_path(api_key) %></td>
    <td><%= link_to 'Destroy', api_key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <th><%= link_to 'pull_data', api_key, method: :put %></th>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Api key', new_api_key_path %>
