<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @api_key.id %>
</p>

<p>
  <b>Eve Api Id:</b>
  <%= @api_key.eve_api_identifier %>
</p>

<p>
  <b>Verification code:</b>
  <%= @api_key.verification_code %>
</p>

<p>
  <b>User:</b>
  <%= @api_key.user.name %>
</p>

<p>
    <b>Character Name:<b>
    <%= @api_key.character_name %>
</p>

<p>
    <b>Character attributes:<b>
    <%= @api_key.character_attributes %>
</p>

<p>
    <b>Skill in training?:<b>
    <%= @api_key.skill_in_training? %>
</p>

<p>
    <b>Name of skill in training:<b>
    <%= @api_key.name_of_skill_in_training %>
</p>

<p>
    <b>Skill training end time:<b>
    <%= @api_key.current_skill_training_end_time %>
</p>

<p>
    <b>Skill training queue:<b>
      <% @api_key.training_queue.each do |queued| %>
          <%= queued %>
      <% end %>
</p>

<p>
    <b>Char Sheet:</b>
    <%= @api_key.char_sheet %>
</p>

<%= link_to 'Edit', edit_api_key_path(@api_key) %> |
<%= link_to 'Back', api_keys_path %>
